form {
    height:600px;
    width:300px;
    position: absolute;
    left: 30%;
    top: 30%;
    margin: -200px 0 0 -200px;
}

input {
    /*text-indent: 300px;*/
    margin-left:50px
        /*padding-left:5em*/
}
select {
    margin-left:5em
}
fieldset {
    width: 50em;
    height: 50em;
}

